

@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
html,body{
	font-family: 'STXinwei', Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif;
font-size:10px;
}
.content{
	position:absolute;top:0;right:0;left:0;bottom:0;
}
.headerFont{
	  position:absolute;width:100%;color:#fff;
	  text-align: center;top:50px;
}
.footerFont{
	  position:absolute;width:100%;color:#fff;
	  text-align: center;bottom:200px;border-radius: 10px;
}
.fontfff{
	color:#fff !important;
}
.mark{
background: #000;
opacity: 0.9; 
background: rgba(0, 0, 0, 0.9);
transition:1s;
}
.mark0{
background: #C31818 !important;
opacity: 0.8; 
background: rgba(195, 24, 24, 0.8) !important;
 transition-delay:0.5s;
}
.mark1{
transition-delay:0.5s;

background: #FFEB3B  !important;
opacity: 0.8; 
background: rgba(232, 203, 69, 0.8)  !important;
}
.mark2{
transition-delay:0.5s;

background: #40DCB0;
opacity: 0.8; 
background: rgba(64, 220, 176, 0.8)
}
.mark3{
transition-delay:0.5s;

background:#5091CD;
opacity: 0.8; 
background: rgba(80, 145, 205, 0.8)
}
.mark4{
transition-delay:0.5s;

background: #BC2DD1;
opacity: 0.8; 
background: rgba(188, 45, 209, 0.8)
}
#nav{
	width:1200px;height:200px;position:absolute;top:30%;left:50%;margin-left:-600px;z-index: 9999999;
}
#nav > div{
	float:left;color:#fff;position:relative;margin:0 10px;border-radius: 50%;white-space:nowrap;width: 220px;height: 220px;
	transform:scale(0.01);font-size:4rem;
}
#nav > div:nth-child(1){
      border:#D50000 2px solid;
     
      animation:animationDown 1.5s forwards;
	
}

#nav > div:nth-child(2){
      border:#FFEB3B 2px solid;
     animation:animationDown 1.5s 	 forwards;
}

#nav > div:nth-child(3){
      border:#1DE9B6 2px solid;
       animation:animationDown 1.5s 	 forwards;
}

#nav > div:nth-child(4){
      border:#0091EA 2px solid;
      animation:animationDown 1.5s 	 forwards;
}

#nav > div:nth-child(5){
      border:#D500F9 2px solid;
       animation:animationDown 1.5s forwards;
}
#nav > div  .divback{
     background:#000;position:absolute;top:0;left:0;bottom:0;right:0;border-radius: 50%;transform:scale(0.001);transition: all .3s ease-in-out;
}
#nav > div  .divfont{
      position: absolute;width: 100%;text-align: center;top:50%;
}
#nav > div:nth-child(1):hover > .divback {
transform:scale(1.1);
}
#nav > div:nth-child(1):hover > .divfont {
transform:scale(1);
color:#D50000;
}
#nav > div:nth-child(2):hover > .divback {
transform:scale(1.1);
}
#nav > div:nth-child(2):hover > .divfont {
transform:scale(1);
color:#FFEB3B;
}
#nav > div:nth-child(3):hover > .divback {
transform:scale(1.1);
}
#nav > div:nth-child(3):hover > .divfont {
transform:scale(1);
color:#1DE9B6;
}
#nav > div:nth-child(4):hover > .divback {
transform:scale(1.1);
}
#nav > div:nth-child(4):hover > .divfont {
transform:scale(1);
color:#0091EA;
}
#nav > div:nth-child(5):hover > .divback {
transform:scale(1.1);
}
#nav > div:nth-child(5):hover > .divfont {
transform:scale(1.2);
color:#D500F9;
}
/*.hoverActive{
	color:#fff !important;
	font-size:5rem !important;
	background:#000;
    
	/*animation:animationUp 1.5s forwards;*/

 
@keyframes animationDown{
     0% {transform:scale(0.2);}
     70% {transform:scale(1.2);}
     80% {transform:scale(0.8);}
     100% {transform:scale(1);}
 }
 @keyframes fadeInOut {
  0% {transform: scale(1);}
  80% {opacity:1;}
  100% {opacity:0;transform: scale(1.3);}
 
} 

/*#nav {position: absolute;left:50%;z-index: 666666666;margin-left:-500px;height: 100%;background: red;top:0%;}
#nav ul li:nth-child(1){
     border-radius:50%;
  position:relative;
  border:solid red 1px;
  width:200px;
  height:200px;
}
#nav ul li:nth-child(1):before{
	content:"";height:115.5px;width:198px;background:rgba(213, 0, 0,1);position:absolute;top:0px;left:0px;z-index:1;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);

	
}
#nav ul li:nth-child(1):after{
	
	text-shadow:4px 4px 8px #000;
    	content:"特价优惠";height:115.5px;width:198px;background:rgba(213, 0, 0,1);position:absolute;top:0px;left:0px;z-index:1;line-height:115.5px;text-align:center;
	transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
}
#nav ul li:nth-child(1):hover{
	color:yellow;
	font-size:50px;
}



#nav ul li:nth-child(2){position: absolute;list-style:none;background:rgba(255, 206, 66,1);height:115.5px;width:198px;margin:45px 5px;
     color:#fff;font-size:40px;
     transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
      bottom:-20%;
	  left:205px;		
	  animation:animation1 0.6s 0.5s	 forwards;
	white-space:nowrap;
}
#nav ul li:nth-child(2):before{
	
	content:"";height:115.5px;width:198px;background:rgba(255, 206, 66,1);position:absolute;top:0px;left:0px;z-index:1;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);
	
}
#nav ul li:nth-child(2):after{

    text-shadow:4px 4px 8px #000;
	content:"特色服务";height:115.5px;width:198px;background:rgba(255, 206, 66,1);position:absolute;top:0px;left:0px;z-index:1;line-height:115.5px;text-align:center;
	transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
}
#nav ul li:nth-child(2):hover{
	color:red;
	font-size:50px;
}





#nav ul li:nth-child(3){position: absolute;list-style:none;background:rgba(0, 200, 83,1);height:115.5px;width:198px;margin:45px 5px;
	font-size:40px;color:#fff;	
     transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
      bottom:-20%;
	 
	  left:410px;
	  animation:animation1 0.6s 1.1s	 forwards;
	white-space:nowrap;
}
#nav ul li:nth-child(3):before{
	content:"";height:115.5px;width:198px;background:rgba(0, 200, 83,1);position:absolute;top:0px;left:0px;z-index:1;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);
	
}
#nav ul li:nth-child(3):after{
	
	text-shadow:4px 4px 8px #000;
content:"订制服务";height:115.5px;width:198px;background:rgba(0, 200, 83,1);position:absolute;top:0px;left:0px;z-index:1;line-height:115.5px;text-align:center;
	transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
}
#nav ul li:nth-child(3):hover{
	color:yellow;
	font-size:50px;
}




#nav ul li:nth-child(4){position: absolute;list-style:none;background:rgba(3, 155, 229,1);height:115.5px;width:198px;margin:45px 5px;
	color:#fff;font-size: 40px;
     transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
      bottom:-20%;
	  left:615px;		
	  animation:animation1 0.6s 1.7s	 forwards;
	white-space:nowrap;
}
#nav ul li:nth-child(4):before{
	content:"";height:115.5px;width:198px;background:rgba(3, 155, 229,1);position:absolute;top:0px;left:0px;z-index:1;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);
	
}
#nav ul li:nth-child(4):after{
	text-shadow:4px 4px 8px #000;
        content:"租车服务";height:115.5px;width:198px;background:rgba(3, 155, 229,1);position:absolute;top:0px;left:0px;z-index:1;line-height:115.5px;text-align:center;
	transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
}
#nav ul li:nth-child(4):hover{
	color:red;
	font-size:50px;
}


#nav ul li:nth-child(5){position: absolute;list-style:none;background:rgba(224, 64, 251,1);height:115.5px;width:198px;margin:45px 5px;
	color:#fff;font-size:40px;
     transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
      bottom:-20%;
	  left:820px;		
	  animation:animation1 0.6s 2.3s	 forwards;
	white-space:nowrap;
}
#nav ul li:nth-child(5):before{
	content:"";height:115.5px;width:198px;background:rgba(224, 64, 251,1);position:absolute;top:0px;left:0px;z-index:1;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);
	
}
#nav ul li:nth-child(5):after{
	text-shadow:4px 4px 8px #000;
	content:"横跨国家";height:115.5px;width:198px;background:rgba(224, 64, 251,1);position:absolute;top:0px;left:0px;z-index:1;line-height:115.5px;text-align:center;
	transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
}
#nav ul li:nth-child(5):hover{
	color:yellow;
	font-size:50px;
}


 
@keyframes animation1{
    0% {bottom:0%;}100% {bottom:60%; }
 }
*/





.angleRight {
  position: relative;
  width: 50px;
  height: 25px;
  background: #00C853;
  color: #fff;
  display: inline;
  margin: 20px;
  padding:2px 5px;
  border-radius:5px 0 0 5px;
}

.angleRight:before {
  content: "";
  position: absolute;
  border-left: solid #00C853 12.5px;
  border-top: solid transparent 12.5px;
  border-bottom: solid transparent 12.5px;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
}

.angleActiveRight {
  position: relative;
  width: 50px;
  height: 25px;
  background: red;
  color: #fff;
  display: inline;
  margin: 20px;
  padding:2px 5px;
  border-radius:5px 0 0 5px;
}

.angleActiveRight:before {
  content: "";
  position: absolute;
  border-left: solid red 12.5px;
  border-top: solid transparent 12.5px;
  border-bottom: solid transparent 12.5px;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
}
/*@font-face {
  font-family: 'SignPainter';src: url("fonts/SignPainter-ShowcardStunt.otf")
}*/


.logo{
	font-family: "Merienda One" !important;
  position: absolute;top:40%;left:50%;font-size:5px;padding: 10px;
   transform: translate(-50%);
-ms-transform: translate(-50%); /* IE 9 */
-webkit-transform: translate(-50%);/* Safari and Chrome */
-o-transform: translate(-50%);  /* Opera */
-moz-transform: translate(-50%);  
  white-space:nowrap;
  text-shadow:4px 4px 8px #000;
  animation:animationLogoA 1.5s ease-in forwards;
  /*animation:animationLogoB 1s 3s  ease-in forwards;*/
}
@keyframes animationLogoA{
 0% {font-size:0px;color:yellow} 
 80% {font-size:5vw;color:red;top:40%;left:50%;}
 100% {font-size:25px;color:#000;top:0%;left:0%; transform: translate(0%);}
}

/*@keyframes animationLogoB{
 
 0% {font-size:0px;color:#000;} 
}
*/
/*.logoHover{
 font-size: 100px;
}
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.NEW1{
animation:animationNew1 6s 1
white-space:nowrap;
animation-fill-mode:forwards;
 }
 .REOPEN1{
animation:animationRepen1 6s 1; 
animation-fill-mode:forwards;
white-space:nowrap;
}
@keyframes animationNew1{
 0% {font-size:12vmin;color:#fff;color:#000;} 
  11% {font-size:14vmin;color:#fff;color:red;} 

    22% {font-size:12vmin;color:#fff;color:#000;} 
   33% {font-size:14vmin;color:#fff;color:red;} 

    44% {font-size:12vmin;color:#fff;color:#000;} 
   55% {font-size:14vmin;color:#fff;color:red;} 

   66% {font-size:12vmin;color:#fff;color:#000;} 
   77% {font-size:14vmin;color:#fff;color:red;} 

   88% {font-size:12vmin;color:#fff;color:#000;} 
   100% {font-size:12.5vmin;color:#fff;color:red;} 

}*/

.containerFlow{
   
   width: 90%;
   margin:45px 5%;
   
   display: flex;
   flow-flex: row nowrap;
}
.containerFlow > .item{
  flex:1 100%;
  margin: 0;padding: 0;
}
.containerFlow > .item:hover
{
  
  flex:1 400%; 
    transition: 0.3s;
}
.containerFlow img{
	margin: 0;padding: 0;
}

.album{
 
 animation: zoom-out 1s 1 both;
  animation-fill-mode:forwards; 
}

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale3d(0,0,0);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
  }
}
/*.label {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #000000;
  opacity: 0;
  color: #ffffff;
  font-family: Verdana;
  transition: 0.3s opacity;
}
.item:hover .label {
  opacity: 0.6;
}

*/
/*.container {

}*/
/*.item {
  flex: 1;
  transition: 0.3s flex;
}*/
/*.item:hover {
  flex:100%;
}*/